.m-0 {
    color: rgb(24, 46, 88);
    font-weight: bold;
    font-family: Georgia, serif;
}

.card-body {
    background-color: rgb(180, 216, 233);
    font-family: cursive;
}

.card-header {
    background-color:rgb(111, 164, 189);
}

#restart {
    background-color:rgb(4, 226, 34);
    margin: 0 10px 0 0 ;
}

#clear {
    background-color:rgb(241, 42, 42);
    margin: 0 0 0 10px ;
}